option_settings:
  # Environment variables
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8081
  
  # Proxy settings
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  
  # Platform settings
  aws:elasticbeanstalk:platform:
    PlatformArn: arn:aws:elasticbeanstalk:us-east-1::platform/Node.js 16 running on 64bit Amazon Linux 2 